$mediumScreen: 1399.98px;
$tabletScreen: 991.98px;
$mobileLandScapeScreen: 767.98px;
$mobileScreen: 575.98px;
$verySmallMobileScreen: 350px;
/* transition: all 0.3s linear; 
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear; 
    -moz-transition: all 0.3s linear; 
    -webkit-transition: all 0.3s linear;  */
